h1{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 72px;
    color:white;
}
h2{
    font-family: Helvetica,Arial,sans-serif;
    color: #00353e;
}
header{
    background-color:lightskyblue;
}
p{
    font-family: Helvetica,Arial,sans-serif;
}

ul{
    font-family: Helvetica,Arial,sans-serif;

}