h1{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 72px;
    color:white;
}
h2{
    font-family: Helvetica,Arial,sans-serif;
    color: #00353e;
}
header{
    background-color:lightskyblue;
}
p{
    font-family: Helvetica,Arial,sans-serif;
}

ul{
    font-family: Helvetica,Arial,sans-serif;

}

.main-content{
    border: dashed 8px ;

}

#koalas-pic{
    width: 250px;
    margin-top: 30px;
    margin-left: 30px;
}


.secondary-content{
    border:solid 4px lightslategray;
    padding: 10px;
    margin: 10px;
}